<nav>
    <ul>
        <li><a href="{{ url('app_main') }}">Home</a></li>
        <li>Articles</li>
        <li><a href="{{ path('app_cesar') }}">Cesar</a></li>
        <li>Contact-us</li>
        <li>Login</li>
    </ul>
</nav>