{% extends './base.html.twig' %}

{% block title %}Animal create{% endblock %}
{% block body %}
    <h1>Création animal</h1>
    {# <p>L'animal de type {{ animal.specie }} et qui s'appelle {{ animal.name }} a bien été crée en BDDD.</p> #}

{% endblock %}