{% extends 'base.html.twig' %}
{% block title %}Hello AnimalController!{% endblock %}
{% block body %}
    <div>
            <h1>Hello animal list!</h1>
            <p>Les animaux dans mon zoo sont :</p>
        <ul>
            {% for animal in animals %}

                <li>Mon animal s'appelle {{ animal.name }} et il vient de {{ animal.placeOfBirth }}</li>
            {% endfor %}
        </ul>
        <p>J'ai {{ animals|length }} animaux.</p>
        <p>J'ai {{ animalsCount }} animaux.</p>
    </div>
{% endblock %}
